.swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(120deg, #444, #111);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-block;
}

.bg-red {
  background-color: #f18761;
}

.bg-grey {
  background-color: grey;
}

.bg-blue {
  background-color: skyblue;
}

.bg-yellowgreen {
  background-color: #a2c759;
}

.bg-pink {
  background-color: pink;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

nav {
  height: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 3rem;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}

@supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
  nav {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li a {
  color: white;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

nav ul li a:hover {
  color: orangered;
}

header {
  height: 100vh;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 3rem;
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s;
  transition: 1s;
}

header.hide {
  height: 0px;
  overflow: hidden;
}

header h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

@media (max-width: 667px) {
  header h1 {
    font-size: 2rem;
  }
}

header p {
  font-size: 1.5rem;
}

@media (max-width: 667px) {
  header p {
    font-size: 1.2rem;
  }
}

main {
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
  width: 100%;
  padding: 0 2rem;
  overflow: hidden;
}

@media (max-width: 667px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0;
  }
}

main .main-slider {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 667px) {
  main .main-slider {
    margin-left: 0rem;
  }
}

main .main-slider figure {
  display: none;
}

main .nav-slider {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 667px) {
  main .nav-slider {
    margin-left: 0rem;
  }
}

main .nav-slider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.6s ease, transform 0.3s ease;
  transition: opacity 0.6s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.swiper-container.nav-slider {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
}

.swiper-container.nav-slider .swiper-slide {
  height: 100vh;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.swiper-container.nav-slider .swiper-slide figure {
  background-position: center center;
  background-size: cover;
}

.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
  opacity: 1 !important;
  visibility: visible !important;
}

.swiper-slide {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.swiper-slide .entity-img {
  display: none;
}

.swiper-slide .content {
  width: 100%;
  padding: 10%;
}

.swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
}

.swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.3s ease, transform 0.7s ease;
  transition: opacity 0.3s ease, transform 0.7s ease, -webkit-transform 0.7s ease;
}

.swiper-pagination {
  color: white;
}

.overley-1,
.overley-2,
.overley-3,
.overley-4,
.overley-5 {
  position: relative;
}

.overley-1::before,
.overley-2::before,
.overley-3::before,
.overley-4::before,
.overley-5::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: 200;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: none;
}

.overley-1::before {
  background-color: #a2c759;
}

.overley-2::before {
  background-color: #f18761;
}

.overley-3::before {
  background-color: skyblue;
}

.overley-4::before {
  background-color: grey;
}

.overley-5::before {
  background-color: pink;
}

.nav-slider:hover .swiper-slide::before {
  opacity: 0;
}

.btn {
  font-weight: 900;
}

.prev-btn {
  margin-left: 1rem;
}

.next-btn {
  margin-right: 1rem;
}

.slide-arrow {
  color: black;
  position: fixed;
  z-index: 10000;
  top: 50%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.slide-arrow img {
  width: 38px;
}

.slide-arrow i {
  color: #444;
}

.slide-arrow i:hover {
  color: #111;
}

.up-arrow {
  left: 0px;
  -webkit-transform: rotate(-90deg) translateX(50%);
          transform: rotate(-90deg) translateX(50%);
  top: 50%;
}

.down-arrow {
  right: 0px;
  -webkit-transform: rotate(90deg) translateX(-50%);
          transform: rotate(90deg) translateX(-50%);
  top: 50%;
}

.swiper-pagination {
  color: black;
}

footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
  footer {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

footer.visible {
  height: 6rem;
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

footer h4 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #ddd;
}

footer p {
  color: #aaa;
}
/*# sourceMappingURL=style.css.map */