.nav-slider:hover .swiper-slide::before {
  opacity: 0;
}

.btn {
  font-weight: 900;
}

.prev-btn {
  margin-left: 1rem;
}

.next-btn {
  margin-right: 1rem;
}

.slide-arrow {
  color: black;
  position: fixed;
  z-index: 10000;
  top: 50%;
  outline: none;
  opacity: 0;
  cursor: pointer;

  img {
    width: 38px;
  }
  i {
    color: #444;
    &:hover {
      color: #111;
    }
  }

  // @media (max-width: 667px) {
  //   opacity: 1;
  // }
}
.up-arrow {
  left: 0px;
  transform: rotate(-90deg) translateX(50%);
  top: 50%;
  // &::before {
  //   content: "\2191";
  //   height: 100%;
  //   width: 100%;
  //   top: 0;
  //   left: 0;
  //   cursor: pointer;
  // }
}

.down-arrow {
  right: 0px;
  transform: rotate(90deg) translateX(-50%);
  top: 50%;
  // &::before {
  //   content: "\2193";
  //   height: 100%;
  //   width: 100%;
  //   top: 0;
  //   left: 0;
  //   cursor: pointer;
  // }
}

.swiper-pagination {
  color: black;
}
