header {
  height: 100vh;
  flex-basis: 100%;
  padding: 0 3rem;
  text-align: center;
  color: white;
  @include flexbox();
  flex-direction: column;
  transition: 1s;

  &.hide {
    height: 0px;
    overflow: hidden;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 2rem;

    @media (max-width: 667px) {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.5rem;
    @media (max-width: 667px) {
      font-size: 1.2rem;
    }
  }
}
