*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(120deg, #444, #111);
}

@mixin flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  display: inline-block;
}

nav {
  height: 5rem;
  width: 100%;
  @include flexbox();
  justify-content: flex-end;
  padding: 0 3rem;
  position: fixed;
  z-index: 100;
  background-color: rgba(black, 0.7);

  @supports (backdrop-filter: blur()) {
    background-color: rgba(black, 0.2);
    backdrop-filter: blur(10px);
  }

  ul {
    list-style: none;
    @include flexbox();

    li {
      a {
        color: white;
        padding: 1rem 1.5rem;
        font-size: 1.8rem;
        transition: color 0.25s;

        &:hover {
          color: orangered;
        }
      }
    }
  }
}

header {
  height: 100vh;
  flex-basis: 100%;
  padding: 0 3rem;
  text-align: center;
  color: white;
  @include flexbox();
  flex-direction: column;

  .content-wrapper {
    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

%transition_all_03s {
  transition: all 0.3s ease;
}
%backface_visibility_hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

main {
  @include flexbox();
  align-items: flex-start;
  height: 100vh;

  .main-slider {
    flex-basis: 50%;
    @include flexbox();

    figure {
      display: none;
    }
  }

  .nav-slider {
    width: 50%;
    .swiper-slide {
      // border: 2px solid white;
      @include flexbox();
    }
  }
}

.swiper-container {
  width: 100%;
  height: 100vh;
  transition: opacity 0.6s ease, transform 0.3s ease;

  &.nav-slider {
    flex-basis: 50%;
    height: 100%;

    .swiper-slide {
      height: 100vh;
      opacity: 0.4;
      transition: opacity 0.3s ease;

      figure {
        background-position: center center;
        background-size: cover;
      }

      &.swiper-slide-active {
        opacity: 1 !important;
        visibility: visible !important;
      }
    }
  }
}

.swiper-slide {
  height: 100vh;
  overflow: hidden;
  @include flexbox();
  @extend %backface_visibility_hidden;
  .slide-bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .entity-img {
    display: none;
  }
  .content {
    width: 100%;
    padding: 10%;
    color: #fff;

    .title {
      font-size: 2.6em;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .caption {
      display: block;
      font-size: 13px;
      line-height: 1.4;
      transition: opacity 0.3s ease, transform 0.7s ease;
    }
  }
}

.swiper-pagination {
  color: white;
}

footer {
  width: 100%;
  background-color: rgba(black, 0.8);
  color: white;
  text-align: center;
  @include flexbox();
  flex-direction: column;
  height: 0;
  overflow: hidden;
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
  transition: all 0.8s;

  @supports (backdrop-filter: blur()) {
    backdrop-filter: blur(10px);
    background-color: rgba(black, 0.3);
  }

  &.visible {
    height: 8rem;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0%);
  }

  h4 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #ddd;
  }

  p {
    color: #aaa;
  }
}

.overley-1,
.overley-2,
.overley-3,
.overley-4,
.overley-5 {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    top: 0;
    left: 0;
    z-index: 200;
  }
}

.overley-1 {
  &::before {
    background-color: red;
  }
}

.overley-2 {
  &::before {
    background-color: green;
  }
}

.overley-3 {
  &::before {
    background-color: blue;
  }
}

.overley-4 {
  &::before {
    background-color: violet;
  }
}

.overley-5 {
  &::before {
    background-color: orangered;
  }
}

.header1 {
  width: 200% !important;
}

.header2 {
  width: 0% !important;
}

.btn {
  font-weight: 900;
}

.prev-btn {
  margin-left: 1rem;
}

.next-btn {
  margin-right: 1rem;
}
